#jQ-buttons {
	position: fixed;
	left: 85%;
	padding: .5%;
	width: 120px;
	margin-right: 1%;
}
#jQ-buttons button {
	display: block;
	margin: 0 auto;
	width: 85%;
}
.pretty {
	font-family: Garamond, sans-serif;
	background-color: #040403;
	color: #C3E8BD;
	line-height: 1.5em;
}